In [4]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [13]:
x=10+5
print(x)
print((6 + 3) *(6 + 3))
print((10 + 5 * 3))
x = complex(3, 5)
print(x)

15
81
25
(3+5j)

In [15]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)
print(len(thislist))

['apple', 'banana', 'cherry', 'apple', 'cherry']
5

In [25]:
list1 = ["abc", 34, True, 40, "male"]
print(type(list1))
mylist = ["apple", "banana", "cherry"]
thislist = list(("apple", "banana", "cherry"))

<class 'list'>
<class 'list'>

In [3]:
thistuple = ("apple", "banana", "cherry")
print(type(thistuple))
thistuple2 = ("apple")
print(type(thistuple2))
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))
newlist = [x for x in range(10) if x < 5]
print(newlist)
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]

newlist2=[x if x !="banana"else "orange" for x in fruits]
print(newlist2)

<class 'tuple'>
<class 'str'>
<class 'tuple'>
[0, 1, 2, 3, 4]
['apple', 'banana', 'orange', 'kiwi', 'mango']

In [5]:
square_dict = dict()
for num in range(1, 11):
    square_dict[num] = num*2
print(square_dict)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [15]:
square_dict = {num: num*num for num in range(1, 11)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [18]:
for x in "banana":
  print(x)
a = "Hello, World!"
print(len(a))

b
a
n
a
n
a
13

In [37]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")
    
    b = "Hello, World!"
print(b[2:5])

c="hello"
d="world"
e=c +" "+ d
print(e)

No, 'expensive' is NOT present.
llo
hello world

In [59]:
def my_function():
    print("Hello World")
my_function()

def my_function2(fname):
    print(fname + "Refsnes")
    
my_function2("Hello ")

Hello World
HelloRefsnes